Source/.vs/MtX.Nro2Nsp/v15/.suo
Source/.vs/MtX.Nro2Nsp/v15/Browse.VC.db
Source/.vs/MtX.Nro2Nsp/v15/ipch/AutoPCH/16d248e51c3f0957/MAIN.ipch
Source/.vs/MtX.Nro2Nsp/v15/ipch/AutoPCH/3f666960793adc7d/MAIN.ipch
Source/.vs/MtX.Nro2Nsp/v15/ipch/AutoPCH/48984fccd69eab2b/MAIN.ipch
Source/.vs/MtX.Nro2Nsp/v15/ipch/AutoPCH/5cc582c4358a182b/MAIN.ipch
Source/.vs/MtX.Nro2Nsp/v15/ipch/AutoPCH/63a555959850bf9a/MAIN.ipch
Source/.vs/MtX.Nro2Nsp/v15/ipch/AutoPCH/9687ffbfd3f88b26/MAIN.ipch
Source/.vs/MtX.Nro2Nsp/v15/ipch/AutoPCH/9ee78542e778100d/MAIN.ipch
Source/.vs/MtX.Nro2Nsp/v15/ipch/AutoPCH/a9ade58ad254ef4a/MAIN.ipch
Source/.vs/MtX.Nro2Nsp/v15/ipch/AutoPCH/afcdc4395031eea2/MAIN.ipch
Source/.vs/MtX.Nro2Nsp/v15/ipch/AutoPCH/cc4078b459a17778/MAIN.ipch
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide-shm
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide-wal
Source/Control/app.config
Source/Control/bin/Release/MtX.Control.dll
Source/Control/bin/Release/MtX.Control.dll.config
Source/Control/bin/Release/MtX.Control.pdb
Source/Control/Control.csproj
Source/Control/Dirc.cs
Source/Control/Image.cs
Source/Control/Nacp.cs
Source/Control/Npdm.cs
Source/Control/obj/Release/Control.csproj.CoreCompileInputs.cache
Source/Control/obj/Release/Control.csproj.FileListAbsolute.txt
Source/Control/obj/Release/Control.csproj.GenerateResource.cache
Source/Control/obj/Release/Control.csprojAssemblyReference.cache
Source/Control/obj/Release/DesignTimeResolveAssemblyReferences.cache
Source/Control/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/Control/obj/Release/MtX.Control.dll
Source/Control/obj/Release/MtX.Control.pdb
Source/Control/obj/Release/MtX.Control.Properties.Resources.resources
Source/Control/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
Source/Control/Properties/Resources.Designer.cs
Source/Control/Properties/Resources.resx
Source/Control/Properties/Settings.Designer.cs
Source/Control/Properties/Settings.settings
Source/Control/Resources/backup/main.asc
Source/Control/Resources/backup/npdm.asc
Source/Control/Resources/errorOutput.nro
Source/Control/Resources/hacbrewpack
Source/Control/Resources/hacbrewpack_mac
Source/Control/Resources/hacbrewpack_macb
Source/Control/Resources/hacbrewpackx64.exe
Source/Control/Resources/hacbrewpackx86.exe
Source/Control/Resources/insc.asc
Source/Control/Resources/lind.asc
Source/Control/Resources/main.asc
Source/Control/Resources/mct.asc
Source/Control/Resources/mkf.asc
Source/Control/Resources/npdm.asc
Source/Control/Source.cs
Source/Control/Tools.cs
Source/Nro2Nsp/bin/Debug/DzRomfs_05004540000E0000.nsp
Source/Nro2Nsp/bin/Debug/sdtest_05004540000F0000.nsp
Source/Nro2Nsp/bin/Debug/Tinfoil_05611746DCCD0000.nsp
Source/Nro2Nsp/bin/Release/_0503A61E8D270000.nsp
Source/Nro2Nsp/bin/Release/_0509340D33050000.nsp
Source/Nro2Nsp/bin/Release/_0544809A689E0000.nsp
Source/Nro2Nsp/bin/Release/_0544C99931D00000.nsp
Source/Nro2Nsp/bin/Release/_059C880080780000.nsp
Source/Nro2Nsp/bin/Release/_05DDC84368610000.nsp
Source/Nro2Nsp/bin/Release/DARKSOULS_052EE47301440000.nsp
Source/Nro2Nsp/bin/Release/F1x_05218B7C84490000.nsp
Source/Nro2Nsp/bin/Release/Fix2_05D08AB9456D0000.nsp
Source/Nro2Nsp/bin/Release/MtX.Control.dll
Source/Nro2Nsp/bin/Release/MtX.Control.dll.config
Source/Nro2Nsp/bin/Release/MtX.Control.pdb
Source/Nro2Nsp/bin/Release/Nro2Nsp.exe
Source/Nro2Nsp/bin/Release/Nro2Nsp.pdb
Source/Nro2Nsp/bin/Release/PokmonQuest_05078D44BAA80000.nsp
Source/Nro2Nsp/bin/Release/PokmonQuest_053BB61660A40000.nsp
Source/Nro2Nsp/bin/Release/Resources/cores.xml
Source/Nro2Nsp/bin/Release/Resources/keys.dat
Source/Nro2Nsp/bin/Release/Resources/log.txt
Source/Nro2Nsp/bin/Release/Resources/paths.xml
Source/Nro2Nsp/bin/Release/Test_0544C99931D00000.nsp
Source/Nro2Nsp/Main.cs
Source/Nro2Nsp/Main.Designer.cs
Source/Nro2Nsp/obj/Release/DesignTimeResolveAssemblyReferences.cache
Source/Nro2Nsp/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/Nro2Nsp/obj/Release/Nro2Nsp.csproj.GenerateResource.cache
Source/Nro2Nsp/obj/Release/Nro2Nsp.csprojAssemblyReference.cache
Source/Nro2Nsp/obj/Release/Nro2Nsp.exe
Source/Nro2Nsp/obj/Release/Nro2Nsp.pdb
Source/Nro2Nsp/SettingsMenu.cs
Source/Nro2Nsp/SettingsMenu.Designer.cs
Source/Nro2Nsp/bin/Debug/Tinfoil_05611746DCCD0000.nsp
Source/Nro2Nsp/bin/Release/MtX.Control.dll.config
Source/Nro2Nsp/bin/Release/MtX.Control.pdb
Source/Nro2Nsp/bin/Release/Nro2Nsp.pdb
Source/Nro2Nsp/bin/Release/Resources/log.txt
Source/Nro2Nsp/Main.cs
Source/Nro2Nsp/Main.Designer.cs
Source/Nro2Nsp/obj/Release/DesignTimeResolveAssemblyReferences.cache
Source/Nro2Nsp/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/Nro2Nsp/obj/Release/Nro2Nsp.csproj.GenerateResource.cache
Source/Nro2Nsp/obj/Release/Nro2Nsp.csprojAssemblyReference.cache
Source/Nro2Nsp/obj/Release/Nro2Nsp.exe
Source/Nro2Nsp/obj/Release/Nro2Nsp.pdb
Source/Nro2Nsp/SettingsMenu.cs
Source/Nro2Nsp/SettingsMenu.Designer.cs
Source/Nro2Nsp/SettingsMenu.Designer.cs
Source/Nro2Nsp/SettingsMenu.cs
Source/Nro2Nsp/obj/Release/Nro2Nsp.pdb
Source/Nro2Nsp/obj/Release/Nro2Nsp.exe
Source/Nro2Nsp/obj/Release/Nro2Nsp.csprojAssemblyReference.cache
Source/Nro2Nsp/obj/Release/Nro2Nsp.csproj.GenerateResource.cache
Source/Nro2Nsp/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/Nro2Nsp/obj/Release/DesignTimeResolveAssemblyReferences.cache
Source/Nro2Nsp/Main.Designer.cs
Source/Nro2Nsp/Main.cs
Source/Nro2Nsp/bin/Release/Resources/log.txt
Source/Nro2Nsp/bin/Release/Nro2Nsp.pdb
Source/Nro2Nsp/bin/Release/MtX.Control.pdb
Source/Nro2Nsp/bin/Release/MtX.Control.dll.config
Source/Nro2Nsp/bin/Debug/Tinfoil_05611746DCCD0000.nsp
Source/Nro2Nsp/bin/Debug/sdtest_05004540000F0000.nsp
Source/Nro2Nsp/bin/Debug/DzRomfs_05004540000E0000.nsp
Source/Control/Tools.cs
Source/Control/Source.cs
Source/Control/Resources/mkf.asc
Source/Control/Resources/mct.asc
Source/Control/Resources/lind.asc
Source/Control/Resources/insc.asc
Source/Control/Resources/hacbrewpackx86.exe
Source/Control/Resources/hacbrewpackx64.exe
Source/Control/Resources/hacbrewpack_mac
Source/Control/Resources/hacbrewpack
Source/Control/Properties/Settings.settings
Source/Control/Properties/Settings.Designer.cs
Source/Control/Properties/Resources.resx
Source/Control/Properties/Resources.Designer.cs
Source/Control/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
Source/Control/obj/Release/MtX.Control.Properties.Resources.resources
Source/Control/obj/Release/MtX.Control.pdb
Source/Control/obj/Release/MtX.Control.dll
Source/Control/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/Control/obj/Release/Control.csprojAssemblyReference.cache
Source/Control/obj/Release/Control.csproj.GenerateResource.cache
Source/Control/obj/Release/Control.csproj.FileListAbsolute.txt
Source/Control/obj/Release/Control.csproj.CoreCompileInputs.cache
Source/Control/Nacp.cs
Source/Control/Image.cs
Source/Control/Dirc.cs
Source/Control/Control.csproj
Source/Control/bin/Release/MtX.Control.pdb
Source/Control/bin/Release/MtX.Control.dll.config
Source/Control/bin/Release/MtX.Control.dll
Source/Control/app.config
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide-wal
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide-shm
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide
Source/.vs/MtX.Nro2Nsp/v15/Browse.VC.db
Source/.vs/MtX.Nro2Nsp/v15/.suo
Source/.vs/MtX.Nro2Nsp/v15/.suo
Source/.vs/MtX.Nro2Nsp/v15/Browse.VC.db
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide-shm
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide-wal
Source/Control/app.config
Source/Control/bin/Release/MtX.Control.dll
Source/Control/bin/Release/MtX.Control.dll.config
Source/Control/bin/Release/MtX.Control.pdb
Source/Control/Control.csproj
Source/Control/Dirc.cs
Source/Control/Image.cs
Source/Control/Nacp.cs
Source/Control/obj/Release/Control.csproj.CoreCompileInputs.cache
*.pdb
Source/Nro2Nsp/SettingsMenu.Designer.cs
Source/Nro2Nsp/SettingsMenu.cs
Source/Nro2Nsp/obj/Release/Nro2Nsp.pdb
Source/Nro2Nsp/obj/Release/Nro2Nsp.exe
Source/Nro2Nsp/obj/Release/Nro2Nsp.csprojAssemblyReference.cache
Source/Nro2Nsp/obj/Release/Nro2Nsp.csproj.GenerateResource.cache
Source/Nro2Nsp/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/Nro2Nsp/obj/Release/DesignTimeResolveAssemblyReferences.cache
Source/Nro2Nsp/Main.Designer.cs
Source/Nro2Nsp/Main.cs
Source/Nro2Nsp/bin/Release/Resources/log.txt
Source/Nro2Nsp/bin/Release/Nro2Nsp.pdb
Source/Nro2Nsp/bin/Release/MtX.Control.pdb
Source/Nro2Nsp/bin/Release/MtX.Control.dll.config
Source/Nro2Nsp/bin/Debug/Tinfoil_05611746DCCD0000.nsp
Source/Nro2Nsp/bin/Debug/sdtest_05004540000F0000.nsp
Source/Nro2Nsp/bin/Debug/DzRomfs_05004540000E0000.nsp
Source/Control/Tools.cs
Source/Control/Source.cs
Source/Control/Resources/mkf.asc
Source/Control/Resources/mct.asc
Source/Control/Resources/lind.asc
Source/Control/Resources/insc.asc
Source/Control/Resources/hacbrewpackx86.exe
Source/Control/Resources/hacbrewpackx64.exe
Source/Control/Resources/hacbrewpack_mac
Source/Control/Resources/hacbrewpack
Source/Control/Properties/Settings.settings
Source/Control/Properties/Settings.Designer.cs
Source/Control/Properties/Resources.resx
Source/Control/Properties/Resources.Designer.cs
Source/Control/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
Source/Control/obj/Release/MtX.Control.Properties.Resources.resources
Source/Control/obj/Release/MtX.Control.pdb
Source/Control/obj/Release/MtX.Control.dll
Source/Control/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/Control/obj/Release/Control.csprojAssemblyReference.cache
Source/Control/obj/Release/Control.csproj.GenerateResource.cache
Source/Control/obj/Release/Control.csproj.FileListAbsolute.txt
Source/Control/obj/Release/Control.csproj.CoreCompileInputs.cache
Source/Control/Nacp.cs
Source/Control/Image.cs
Source/Control/Dirc.cs
Source/Control/Control.csproj
Source/Control/bin/Release/MtX.Control.pdb
Source/Control/bin/Release/MtX.Control.dll.config
Source/Control/bin/Release/MtX.Control.dll
Source/Control/app.config
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide-wal
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide-shm
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide
Source/.vs/MtX.Nro2Nsp/v15/Browse.VC.db
Source/.vs/MtX.Nro2Nsp/v15/.suo
Source/Nro2Nsp/SettingsMenu.Designer.cs
Source/Nro2Nsp/SettingsMenu.cs
Source/Nro2Nsp/obj/Release/Nro2Nsp.pdb
Source/Nro2Nsp/obj/Release/Nro2Nsp.exe
Source/Nro2Nsp/obj/Release/Nro2Nsp.csprojAssemblyReference.cache
Source/Nro2Nsp/obj/Release/Nro2Nsp.csproj.GenerateResource.cache
Source/Nro2Nsp/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/Nro2Nsp/obj/Release/DesignTimeResolveAssemblyReferences.cache
Source/Nro2Nsp/Main.Designer.cs
Source/Nro2Nsp/Main.cs
Source/Nro2Nsp/bin/Release/Resources/log.txt
Source/Nro2Nsp/bin/Release/Nro2Nsp.pdb
Source/Nro2Nsp/bin/Release/MtX.Control.pdb
Source/Nro2Nsp/bin/Release/MtX.Control.dll.config
Source/Nro2Nsp/bin/Debug/Tinfoil_05611746DCCD0000.nsp
Source/Nro2Nsp/bin/Debug/sdtest_05004540000F0000.nsp
Source/Nro2Nsp/bin/Debug/DzRomfs_05004540000E0000.nsp
Source/Control/Tools.cs
Source/Control/Source.cs
Source/Control/Resources/mkf.asc
Source/Control/Resources/mct.asc
Source/Control/Resources/lind.asc
Source/Control/Resources/insc.asc
Source/Control/Resources/hacbrewpackx86.exe
Source/Control/Resources/hacbrewpackx64.exe
Source/Control/Resources/hacbrewpack_mac
Source/Control/Resources/hacbrewpack
Source/Control/Properties/Settings.settings
Source/Control/Properties/Settings.Designer.cs
Source/Control/Properties/Resources.resx
Source/Control/Properties/Resources.Designer.cs
Source/Control/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
Source/Control/obj/Release/MtX.Control.Properties.Resources.resources
Source/Control/obj/Release/MtX.Control.pdb
Source/Control/obj/Release/MtX.Control.dll
Source/Control/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/Control/obj/Release/Control.csprojAssemblyReference.cache
Source/Control/obj/Release/Control.csproj.GenerateResource.cache
Source/Control/obj/Release/Control.csproj.FileListAbsolute.txt
Source/Control/obj/Release/Control.csproj.CoreCompileInputs.cache
Source/Control/Nacp.cs
Source/Control/Image.cs
Source/Control/Dirc.cs
Source/Control/Control.csproj
Source/Control/bin/Release/MtX.Control.pdb
Source/Control/bin/Release/MtX.Control.dll.config
Source/Control/bin/Release/MtX.Control.dll
Source/Control/app.config
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide-wal
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide-shm
Source/.vs/MtX.Nro2Nsp/v15/Server/sqlite3/storage.ide
Source/.vs/MtX.Nro2Nsp/v15/Browse.VC.db
Source/.vs/MtX.Nro2Nsp/v15/.suo
*.exe